:root {
  font-family: "Space Mono", monospace;
  color-scheme:  dark;
  // color: rgba(255, 255, 255, 0.87);
  color: deeppink;
  // background-color: #242424;
  background-color: turquoise;


  text-shadow: 10px 6px 0px white;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 150px;
  font-weight: 800;
  text-transform: uppercase;

  font-stretch: 50%;
}
